.navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 5em;
  width: 100%;
  background-color: #16697a;
  z-index: 20;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.view-btn {
  background: none;
  height: 2em;
  width: auto;
  cursor: pointer;
  border: none;
  font-size: 0.8em;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.view-btn:hover {
  border-bottom: 2px solid #3498db;
  transform: scale(1.1);
}

.view-btn a {
  text-decoration: none;
  color: black;
}

.nav-middle {
  text-align: center;
  flex-grow: 1;
  margin-right: 12em;
}

.nav-middle span {
  font-size: 1.5em;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #969696 0%,
    #dfdfdf 25%,
    #ffffff 50%,
    #ffffff 50%,
    #dfdfdf 75%,
    #969696 100%
  );
}

.custom-shape-divider-top-1698307224 {
  position: absolute;
  margin-top: 5em;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698307224 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1698307224 .shape-fill {
  fill: #16697a;
}

.create-container {
  position: absolute;
  top: 38em;
  left: 8%;
}

.create-btn {
  background: none;
  border: 1px solid #3498db;
  height: 2em;
  width: 8em;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.create-btn a {
  text-decoration: none;
  color: black;
}

.create-btn:hover {
  border: 2px solid #3498db;
  transform: scale(1.1);
}
